// Whites
$white = #ffffff

// Greys
$gallery = #eeeeee
$alto = #dddddd

// Blues
$prussian-blue = #002b41
$st-tropaz = #275a8f
$cerulean = #02b7ec
$foam = #e9f8fd

// Oranges
$web-orange = #e6a500
$white = #FFFFFF
$white-alabaster = #F3F3F3

$orange-flame-pea = #DA552F

$gray-gray = #2e2d2d

$behavior = #649BDD

$influence = #F7CB6C

$potential = #B5D861

$blue-pacific = #638CCC

$blue-pacific-active = #73A3F1