// Imports main css rules and css variables
@import '../../assets/css/main'
@import '../../assets/css/variables'
body
  background-color black
.home

  width 100%
  background-color white
  height 703px

  img
    width 300px
    position fixed
    top 20%
    left 50%
    transform translate(-50%, -50%)

.home-form
  display flex
  justify-content center
  flex-direction column
  width 100%


  input
    background transparent
    text-align center
    border none
    color $web-orange
    border-bottom 1px solid $web-orange
    width 10px
    outline none
    margin 0 auto
    margin-top 40vh

  input[type="submit"]
    border none
    margin-top 3vh
    width 50px
    cursor pointer
